@charset "UTF-8";
html,
body {
    margin: 0px;
    padding: 0;
    width: 100%;
    height: 100%;
	background-color:#FDFDFD;
	border: 10px solid #FDFDFD;
	border-bottom-width: 0px;
}
hr{
	border: none;
	border-top: 2px solid #D6D6D6;
	color: #D6D6D6;
	overflow: visible;
	text-align: left;
	padding-left:8px;
	margin-left: 8px;
	margin-right: 8px;
	padding-right:8px;
	top:10px;
	height: 5px;
}
label{
	/* border: none; */
	/* border-top: 2px solid #D6D6D6; */
	color: #6A6A6A;
	/* overflow: visible; */
	padding-left:8px;
	padding-right:8px;
	text-align: left;
	/* top:10px; */
	/* height: 5px; */
	line-height: 150%;
	letter-spacing:-1%;
	font-weight:400;
	font-size:100%;
}
legend{
	padding-left:8px;
	padding-right:8px;
	margin-bottom: 1.5rem;
	margin-top: 1rem;
}
.form-cust{
	background-color: #FDFDFD;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 4px;
	border: 1px solid #D6D6D6;
	padding-top: 10px;
	padding-bottom: 10px;
}
.construction {
	position:absolute;
	background-image: url('construction.jpg');
	border: none;
    width: 100%;
    height: 100%;
}
.textSelector{
	background-color: transparent;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 4px;
	border: 0px solid #D6D6D6;
}
.modal-footer{
	border-top: none;
	flex-direction: column;
	min-height: 50%;
}
.dimSelector{
	/* color: #6A6A6A; */
	/* overflow: visible; */
	padding-left:8px;
	padding-right:8px;
	background-color: #FDFDFD;
	/* text-align: left; */
	/* top:10px; */
	/* height: 5px; */
	/* line-height: 150%; */
	/* letter-spacing:-1%; */
	/* font-weight:400; */
	/* font-size:100%; */
	width:96%;	
	border-radius: 4px;
	border: 1px solid #D6D6D6;
}
.optionsResume{
	width:60%;	
	border-radius: 4px;
	border: 1px solid #D6D6D6;
	margin: 5px;
	padding: 8px;
	background: #F9F9F9;
}
.optionsTitrResume{
	width:35%;	
}
.labelDim{
	padding-bottom: 5px;
	padding-top: 10px;
}
.form-range{
	height: 1rem;
	width:30%;
	margin-left: 10px;
}
/* input[type="text"] { */
  /* border-radius: 4px; */
  /* border: 0px solid #D6D6D6; */
/* } */
input[type="range"]::-moz-range-progress {
  background-color: transparent;
}
input[type="range"]::-moz-range-track {  
  background-color: #D6D6D6;
  height: 4px;
}
input[type="range"]::-webkit-slider-runnable-track {  
  background-color: #D6D6D6;
  height: 4px;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #3879FF; 
}
input[type="range"]::-ms-fill-upper {  
  background-color: #3879FF;
}
input[type=range]::-webkit-slider-thumb {
    background: #3879FF;
	margin-top: -6px;	
}
input[type=range]::-moz-range-thumb {
    background: #3879FF;
}
input[type=range]::-ms-thumb {
    background: #3879FF;
}
#dimIn_WS_id{	
	margin-left:-20px;
	margin-top: -10px;
	margin-bottom: -10px;
}
#dimCm_WS_id{	
	margin-top: -10px;
	margin-bottom: -10px;
}
.modal-headerContent{
	width:46%;
	margin-left: 20px;
	border-bottom: 1px solid rgba(0,0,0,.2);
}
.modal-content{
	width: 1200px;
	left: -25%;
	background-color: #fdfdfd;
	height: 800px;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 15px;
}
.modal-bodyContent{
	width:47%;
	border-radius: 10px;
	margin: 10px;
}
.modal-headerContact{
	width:95%;
	margin-left: 20px;
	border-bottom: 1px solid rgba(0,0,0,.2);
}
.modal-bodyContact{
	width:95%;
	border-radius: 10px;
	margin: 10px;
	height: 760px;
	margin-left: 20px;
}
.col-md-6{
	margin-top: 5px;
    margin-bottom: 5px;
}
.col-md-4{
	margin-top:10px;
}
.modal-imageResult{
	position: absolute;
	border: 1px solid rgba(0,0,0,.2);
	margin-top:10px;
	border-radius:10px;
	display: block;
	right:10px;
	top: 0;
}
.modal-backdrop.show {
  opacity: 1;
}
.modal-backdrop {
	background-color: rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	position:absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
}
#modal1{
display: flow-root list-item;
  gap: 20px;
    row-gap: 20px;
    column-gap: 20px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height:610px;
  padding: 10px;
    overflow: scroll;
}
.loadingIonbench{
    width: 100%;
    height: 100%;
	position:fixed;
	border: none;
	display: block;
	margin: 0px 0px;
	background: url('loading.gif')no-repeat center center fixed #FEFCFE;
}

iframe {
    display: block;
	position:absolute;
    width: 100%;
    height: 111%;
	top:-50px;
}
.frame_config{
	display: block;
	position:absolute;
	overflow:hidden;
    width: 74%;
    height: 100%;
	border: 1px solid #ededed;
	border-radius: 10px;
}
.app {
    display: flex;
	position:relative;
	overflow:hidden;
    width: 100%;
    height: 98%;
	border: 0px;
	border-radius: 10px;
	border-bottom-width: 0px;
	
}
.options {
    display: block;
	position:absolute;
	top:0px;
	left:75%;
	right: 0px;
    height: 100%;
	/* background-color: #f9f9f9; */
	background-color: #fdfdfd;
	line-height: 20px;
	bottom:0px;
	overflow: scroll;
    overflow-x: hidden;
	border: 0;
	border-radius: 10px;
	
	-webkit-touch-callout: none; /* iOS Safari*/
	-webkit-user-select: none; /* Safari*/
	-khtml-user-select: none; /* Konqueror HTML*/
	-moz-user-select: none; /* Old versions of Firefox*/
	-ms-user-select: none;  /*Internet Explorer/Edge*/
	user-select: none; /* Non-prefixed version, currently*/
}
.categories {
    display: block;
	position:flex;
	background-color: #f9f9f9;
	padding: 10px;
	border: 1px solid #ededed;
	border-radius: 10px;
	
	-webkit-touch-callout: none; /* iOS Safari*/
	-webkit-user-select: none; /* Safari*/
	-khtml-user-select: none; /* Konqueror HTML*/
	-moz-user-select: none; /* Old versions of Firefox*/
	-ms-user-select: none;  /*Internet Explorer/Edge*/
	user-select: none; /* Non-prefixed version, currently*/
}
.switch {
	position: relative;
	display: inline-block;
	width: 70px;
	height: 28px;
}

.selectIon
{ 
	display: block;
	position:flex;
	background-color: #fdfdfd;
	/* padding: 10px; */
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 16px;
	padding-left: 16px;
	border: 1px solid #ededed;
	border-radius: 4px;
	width: 96%;
	/* color: #989898; */
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 8px;
  left: 0px;
  right: 0px;
  bottom: -8px;
  background-color: #f9f9f9;
   border: 1px solid #ededed;  
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: #3879FF;
  -webkit-transition: .4s;
  transition: .4s;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
}
.form-check-input:checked {
  background-color: #3879FF;
  border-color: #3879FF;
}
/*------ ADDED CSS ---------*/
.on
{
  display: none;
}

.on, .off
{
  color: transparent;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 15px;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;}

#save_b {
	display: inline-block;
	position: fixed;
	bottom: 25px;
	right: 45px;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: #3879FF;
	color: #FDFDFD;
	cursor: pointer;
	padding: 15px;
	border-radius: 10px;
	font-weight: regular;
	width: 22%;    
}

#save_b:hover {
	background-color: #FDFDFD;
	color: black;
	border: 1px solid #ededed;
	bottom: 24px;
	right: 44px;
}
.closeBTN_Cust {
	display: inline-block;
	position: fixed;
	bottom: 98px;
	left: 513px;
	font-size: 18px;
	outline: none;
	background-color: #FDFDFD;
	border: 1px solid #ededed;
	color: black;
	cursor: pointer;
	padding: 15px;
	border-radius: 10px;
	font-weight: regular;       
}

.closeBTN_Cust:hover {
	color: #FDFDFD;
	background-color: #3879FF;
	border: none;
	bottom: 99px;
	left: 514px;
}
#continue_b {
	display: inline-block;
	position: fixed;
	bottom: 100px;
	left: 385px;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: #3879FF;
	color: #FDFDFD;
	cursor: pointer;
	padding: 15px;
	border-radius: 10px;
	font-weight: regular;       
}
#continue_b:hover {
	background-color: #FDFDFD;
	color: black;
	border: 1px solid #ededed;
	bottom: 99px;
	left: 384px;
}

#continue2_b:hover {
	background-color: #FDFDFD;
	color: black;
	border: 1px solid #ededed;
	left: 14px;
	bottom: -1px;
}
#continue2_b {
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 15px;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: #3879FF;
	color: #FDFDFD;
	cursor: pointer;
	padding: 15px;
	border-radius: 10px;
	font-weight: regular;  
	width:95%;
	margin-top: auto;
	margin-bottom: 15px;
}

#ionBenchContact {
	display: inline-block;
	position: fixed;
	bottom: 25px;
	left: 30px;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: #3879FF;
	color: #FDFDFD;
	cursor: pointer;
	padding: 15px;
	border-radius: 10px;
	font-weight: regular;
}
#ionBenchContact:hover {
	background-color: #FDFDFD;
	color: black;
	border: 1px solid #ededed;
	bottom: 24px;
	left: 29px;
}

#ionBenchHome {
	display: inline-block;
	position: fixed;
	font-size: 18px;
	outline: none;
	background-color: #FDFDFD;
	border: 1px solid #ededed;
	color: black;
	cursor: pointer;
	padding: 15px;
	border-radius: 10px;
	font-weight: regular;
	bottom: 24px;
	left: 199px;
}
#ionBenchHome:hover {
	color: #FDFDFD;
	background-color: #3879FF;
	border: none;
	bottom: 25px;
	left: 200px;
}
#inputMSN{
	height: 230px;
}